@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#background-video{

  min-width: 100%;
  min-height: 100%;
  float: left;
  top: 0;
  z-index: -1;
  padding: none;
  position: fixed; /* optional depending on what you want to do in your app */


}